# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
ENV/
env.bak/
env/

# SQLite database file
*.db
*.sqlite3

# VSCode settings
.vscode/

# Log files
*.log

# Other
.DS_Store
